<h1>Branches</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Church</th>
    </tr>
  </thead>
  <tbody>
    <% @branches.each do |branch| %>
      <tr>
        <td><%= branch.name %></td>
        <td><%= branch.location %></td>
        <td><%= branch.church.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
